$blue-Color: #003049;
$blue-Color-lighter: #00507a;
$orange-Color-darker: #d46e01;
$orange-Color: #f77f00;
$yellow-Color: #fcbf49;
$limon-Color: #eae2b7;
$limon-Color-darker: #ebe0a5;
$grey-Color: #c4c4c4;
$header-height: 70px;
$footer-height: 150px;